@font-face {
  font-family: aquawax;
  src: url(../font/aquawax.ttf);
  font-display: swap;
}
@font-face {
  font-family: nunito-bold;
  src: url(../font/Nunito-Bold.ttf);
  font-display: swap;
}
.navbar {
  height: 4rem;
  background-image: url("../img/bg-nav.webp");
}
.navbar .nav-item {
  margin: 3.3rem 0rem 0rem 0rem;
}
.navbar .nav-item a {
  margin: 1rem;
  text-decoration: none;
  color: #003399;
  font-size: 1rem;
  font-family: aquawax;
}
.navbar .nav-logoPC {
  width: 18rem;
  height: 8rem;
  background-image: url("../img/bg-nav.webp");
  border-radius: 0rem 0rem 4rem 4rem;
}
.navbar .nav-logoPC a img {
  width: 10rem;
  margin: 2.8rem 0rem 0rem 0rem;
}

.player {
  width: 100%;
  height: 37.5rem;
  background-color: #dfdfdf;
}
.player .player-leftSide {
  border-radius: 0rem 0rem 10rem 0rem;
}
.player .player-rightSide {
  border-radius: 10rem 0rem 0rem 0rem;
}
.player .player-video {
  width: 53rem;
  height: 30rem;
  margin: -33.5rem auto;
}

.speedNews {
  background-color: #ffffff;
}
.speedNews .speedNews-navbar {
  height: 3rem;
}
.speedNews .speedNews-navbar .speedNews-container {
  width: 18rem;
  margin: -3rem 0rem 0rem 0rem;
  background-image: url("../img/bg-nav.webp");
  border-radius: 4rem 4rem 0rem 0rem;
}
.speedNews .speedNews-navbar .speedNews-container .speedNews-title {
  margin: 0.8rem 0rem 0rem 0rem;
  color: #dc0000;
  font-size: 1.5rem;
  font-family: aquawax;
}
.speedNews .speedNews-section .speedNews-article {
  width: 34.3rem;
  height: 15rem;
}
.speedNews .speedNews-section .speedNews-article .speedNews-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  filter: brightness(50%);
}
.speedNews .speedNews-section .speedNews-article .speedNews-text {
  width: 95%;
  top: 1rem;
  left: 1rem;
  color: #ffffff;
  font-family: nunito-bold;
  font-size: 1rem;
  text-shadow: 0px 0px 3px #000000;
}
.speedNews .speedNews-section .speedNews-article .speedNews-text span {
  padding: 0rem 0.3rem 0rem 0.3rem;
  background-color: rgba(0, 128, 255, 0.5);
  border-radius: 0.3rem;
  color: #ffffff;
}
.speedNews .speedNews-section .speedNews-article .speedNews-credits {
  bottom: 1rem;
  left: 1rem;
  color: #ffffff;
  font-size: 1rem;
  font-family: nunito-bold;
  text-shadow: 0px 0px 3px #000000;
}
.speedNews .speedNews-section .speedNews-article .speedNews-view {
  width: 2rem;
  height: 2rem;
  background-color: rgba(0, 128, 255, 0.5);
  border-radius: 0.5rem;
  right: 1rem;
  bottom: 1rem;
  color: #ffffff;
}

.schedule-section .schedule-title {
  color: #ffffff;
  font-family: aquawax;
  font-size: 1.5rem;
}
.schedule-section .schedule-container .schedule-content {
  width: 34.3rem;
  height: 7.25rem;
  border: 0.15rem solid #ffffff;
  border-radius: 1rem;
}
.schedule-section .schedule-container .schedule-content .schedule-contentThumb {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}
.schedule-section .schedule-container .schedule-content .schedule-contentTitle {
  margin: -5rem 0rem 0rem 6rem;
  font-family: aquawax;
  color: #ffffff;
  font-size: 1.5rem;
}
.schedule-section .schedule-container .schedule-content .schedule-contentClock {
  margin: 0.3rem 0rem 0rem 6rem;
  font-family: nunito-bold;
  font-size: 0.8rem;
  color: #ffffff;
}

.originals-section .originals-title {
  color: #ffffff;
  font-family: aquawax;
  font-size: 1.5rem;
}
.originals-section .originals-container iframe {
  border-radius: 1rem;
}

/*# sourceMappingURL=main.css.map */
