//**********PALETA DE CORES**********
$preto: #000000;
$branco: #ffffff;
$vermelho: #dc0000;
$cinza-medio-01: rgb(173, 173, 173);
$cinza-claro-01: #dfdfdf;
$azul-medio-01: #003399;
$azul-claro-01: #007fff;