//**********PALETA DE CORES**********
$preto: #000000;
$branco: #ffffff;

$cinza-medio-01: #adadad;
$cinza-claro-01: #dfdfdf;
$cinza-escuro-01: #3a3a3a;
$azul-medio-01: #003399;
$azul-claro-01: #007fff;
$vermelho-medio-01: #dc0000;
