@import "_colors.scss", "_breakpoint.scss";

//**********FONTES**********
@font-face {
    font-family: aquawax;
    src: url(../font/aquawax.ttf);
    font-display: swap;
}

@font-face {
    font-family: metropolis-bold;
    src: url(../font/Metropolis-Bold.otf);
    font-display: swap;
}

//**********BODY**********
.body{
    background-color: $cinza-claro-01;
}

*{
    box-sizing: border-box;
}

//**********LOGIN**********
.login{
    background-color: $branco;
    border-radius: 1rem 2rem 2rem 1rem;
    .login-left{
        width: 50%;
        .login-logo{
            width: 8rem;
        }
        .login-form{
            div{
                label{
                    font-family: metropolis-bold;
                }
                input{
                    margin: -0.3rem 0rem 0rem 0rem;
                    border: 0.1rem solid $preto;
                    border-radius: 0.5rem;
                }
            }
            button{
                padding-top: 0.49rem;
                background-color: $azul-medio-01;
                font-family: metropolis-bold;
                color: $branco;
            }
        }
        @include lg{
            width: 100%;
        }
    }
    .login-help{
        background-color: $vermelho-medio-01;
        font-family: metropolis-bold;
        color: $branco;
        &:hover{
            background-color: $vermelho-medio-01 !important;
            font-family: metropolis-bold;
            color: $branco !important;
        }
    }
    .login-right{
        width: 50%;
        .login-banner{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 0rem 1rem 1rem 0rem;
        }
    }
}

//**********RODAPÉ**********
footer{
    bottom: 1rem;
    font-family: metropolis-bold;
    font-size: 0.8rem;
}

//**********NAVBAR**********
.sidenav{
    width: 16rem;
    height: 100vh;
    background-color: $branco;
    z-index: 1;
    @include lg{
        width: 20rem;
        right: 0;
        display: none;
    }
    @include xs{
        width: 100%;
    }
    .sidenav-close{
        width: 2rem;
        height: 2rem;
        margin: 4rem 0rem 0rem 0.8rem;
        font-size: 1.2rem;
    }
    .sidenav-logo{
        img{
            width: 8rem;
            height: auto;
        }
    }
    .sidenav-profile{
        img{
            width: 6rem;
            height: 6rem;
            border-radius: 22.5rem;
            object-fit: cover;
        }
        h5{
            font-family: metropolis-bold;
            font-size: 1.5rem;
        }
        h6{
            font-family: metropolis-bold;
            font-size: 1rem;
            color: $cinza-medio-01;
        }
    }
    .sidenav-list{
        li{
            position: relative;
            cursor: pointer;
            padding: 0.6rem 0rem 0.6rem 1rem;
            color: $preto;
            font-family: metropolis-bold;
            font-size: 1rem;
            ul{
                width: 15rem;
                display: none;
                position: absolute;
                background-color: $cinza-claro-02;
                border-radius: 0.5rem;
                margin: -2rem 0rem 0rem 5rem;
                padding: 0.5rem;
                z-index: 1;
                @include lg{
                   margin: -3rem 0rem 0rem 6rem;
                }
                li{
                    padding: 0.3rem;
                    list-style: none;
                    font-size: 0.9rem;
                }
            }
            &:hover{
                ul{
                    display: block;
                }
            }
        }
    }
}

//**********BARRA SUPERIOR**********
.top-bar{
    width: auto;
    height: 3.5rem;
    margin: 0rem 0rem 0rem 16rem;
    background-color: $branco;
    z-index: 1;
    @include lg{
        margin: 0;
    }
    img{
        width: 2rem;
        margin: 0.35rem 0rem 0rem 1rem;
    }
    div{
        margin: 0.54rem 0rem 0rem 1rem;
        padding-top: 0.45rem;
        background-color: $vermelho-medio-01;
        border-radius: 0.5rem;
        color: $branco;
        font-family: metropolis-bold;
        font-size: 1rem;
    }
    button{
        margin: 0rem 0.5rem 0rem 0rem;
        font-size: 1.7rem;
    }
}

//**********CONTEÚDO**********
.content{
    width: auto;
    height: auto;
    margin: 0rem 0rem 0rem 16rem;
    padding: 4.5rem 2rem 0rem 2rem;
    @include lg{
        margin: 0;
    }
}

//**********PAGE START**********
.page-start{
    font-family: metropolis-bold;
    font-size: 1.5rem;
}


//**********DASHBAORD**********
.wellcome{
    background-color: $branco;
    border-radius: 0.5rem;
    h4{
        font-family: metropolis-bold;
        font-size: 1.5rem;
    }
    h5{
        font-family: metropolis-bold;
        font-size: 1rem;
        color: $cinza-medio-01;
    }
    h6{
        font-family: metropolis-bold;
        font-size: 1rem;
    }
    button{
        background-color: $vermelho-medio-01;
        border-radius: 0.5rem;
        font-family: metropolis-bold;
        font-size: 1rem;
        color: $branco;
        &:hover{
            background-color: $vermelho-medio-01 !important;
            border-radius: 0.5rem;
            font-family: metropolis-bold;
            font-size: 1rem;
            color: $branco !important;
        }
    }
}

.player{
    width: 100%;
    height: auto;
    background-color: $branco;
    border-radius: 1rem;
    h6{
        padding: 1rem 0rem 0.8rem 1.5rem;
        border-radius: 0.5rem 0.5rem 0rem 0rem;
        background-color: $cinza-claro-02;
        font-family: metropolis-bold;
        font-size: 1rem;
    }
    .video-js{
        width: 100%;
        height: 17rem;
        border-radius: 0rem 0rem 0.5rem 0.5rem;
    }
}

.server{
    width: 100%;
    height: auto;
    background-color: $branco;
    border-radius: 1rem 1rem 0.5rem 0.5rem;
    h6{
        padding: 1rem 0rem 0.8rem 1.5rem;
        border-radius: 0.5rem 0.5rem 0rem 0rem;
        background-color: $cinza-claro-02;
        font-family: metropolis-bold;
        font-size: 1rem;
    }
    p{
        padding: 0.8rem 1rem 1rem 1rem;
        font-size: 1rem;
        span{
            font-family: metropolis-bold;
        }
    }
}

//**********Usuários**********
.profileEdit{
    width: 30rem;
    @include lg{
        width: 100%;
    }
    .profileEdit-form{
        div{
            label{
                font-family: metropolis-bold;
            }
            input{
                margin: -0.3rem 0rem 0rem 0rem;
                border-radius: 0.5rem;
            }
        }
        button{
            padding-top: 0.49rem;
            background-color: $azul-medio-01;
            font-family: metropolis-bold;
            color: $branco;
            font-size: 1rem;
            &:hover{
                background-color: $azul-medio-01;
                font-family: metropolis-bold;
                color: $branco;  
            }
        }
    }
}

.userList{
    div{
        width: 20.2rem;
        height: auto;
        background-color: $branco;
        border-radius: 0.5rem;
        div{
            img{
                width: 6rem;
                height: 6rem;
                object-fit: cover;
            }
        }
        h5{
            padding: 0rem 0.5rem 0rem 0.5rem;
            font-family: metropolis-bold;
            font-size: 1.3rem;
        }
        h6{
            font-family: metropolis-bold;
            font-size: 1rem;
            color: $cinza-medio-01;
        }
        button{
            &:nth-child(4){
                width: 2rem;
                height: 2rem;
                background-color: $azul-medio-01;
                border-radius: 0.5rem;
                margin: 0rem 1rem 0rem 0rem;

                color: $branco;
                &:hover{
                    background-color: $azul-medio-01;
                    color: $branco;
                }
            }
            &:nth-child(5){
                width: 2rem;
                height: 2rem;
                background-color: $vermelho-medio-01;
                border-radius: 0.5rem;
                margin: 0rem 0.5rem 0rem 0rem;
                color: $branco;
                &:hover{
                    background-color: $vermelho-medio-01;
                    color: $branco;
                }
            }
        }
    }
}


//**********SPEED NEWS**********
.speedNewsEdit{
    width: 30rem;
    @include lg{
        width: 100%;
    }
    .speedNewsEdit-form{
        div{
            label{
                font-family: metropolis-bold;
            }
            input, textarea{
                margin: -0.3rem 0rem 0rem 0rem;
                border-radius: 0.5rem;
                resize: none;
            }
        }
        button{
            padding-top: 0.49rem;
            background-color: $azul-medio-01;
            font-family: metropolis-bold;
            color: $branco;
            font-size: 1rem;
            &:hover{
                background-color: $azul-medio-01;
                font-family: metropolis-bold;
                color: $branco;  
            }
        }
    }
}

.speedNews-list{
    article{
        width: 30.9rem;
        height: 15rem;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 1rem;
            filter: brightness(50%);
        }
        p{
            width: 95%;
            top: 1rem;
            left: 1rem;
            color: $branco;
            font-family: metropolis-bold;
            font-size: 1rem;
            text-shadow: 0px 0px 3px $preto;
            span{
                padding: 0.3rem;
                background-color: $azul-medio-01;
                border-radius: 0.3rem;
                color: $branco;
            }
            @include xs{
                width: 90%;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 7; /* Definimos quantas linhas queremos */
                display: -webkit-box;
                overflow: hidden;
                font-size: 0.9rem;
            }
        }
        div{
            bottom: 1rem;
            left: 1rem;
            color: $branco;
            font-size: 1rem;
            font-family: metropolis-bold;
            text-shadow: 0px 0px 3px $preto;
        }
        button{
            &:nth-child(4){
                width: 2rem;
                height: 2rem;
                background-color: $azul-medio-01;
                border-radius: 0.5rem;
                right: 1rem;
                bottom: 1rem;
                color: $branco;
                &:hover{
                    background-color: $azul-medio-01;
                    color: $branco;
                }
            }
            &:nth-child(5){
                width: 2rem;
                height: 2rem;
                background-color: $vermelho-medio-01;
                border-radius: 0.5rem;
                right: 3.5rem;
                bottom: 1rem;
                color: $branco;
                &:hover{
                    background-color: $vermelho-medio-01;
                    color: $branco;
                }
            }
        }
    }
}

//**********PROGRAMAÇÃO**********
.scheduleEdit{
    width: 30rem;
    @include lg{
        width: 100%;
    }
    .scheduleEdit-form{
        div{
            label{
                font-family: metropolis-bold;
            }
            input, select{
                margin: -0.3rem 0rem 0rem 0rem;
                border-radius: 0.5rem;
                resize: none;
            }
            div{
                label{
                    padding: -3rem 0rem 0rem 0rem;
                    font-size: 1rem;
                    font-family: Arial, Helvetica, sans-serif;
                }
            }
        }
        button{
            padding-top: 0.49rem;
            background-color: $azul-medio-01;
            font-family: metropolis-bold;
            color: $branco;
            font-size: 1rem;
            &:hover{
                background-color: $azul-medio-01;
                font-family: metropolis-bold;
                color: $branco;  
            }
        }
    }
}

.scheduleList{
    div{
        width: 20.2rem;
        height: auto;
        background-color: $branco;
        border-radius: 0.5rem;
        div{
            img{
                width: 6rem;
                height: 6rem;
                object-fit: cover;
            }
        }
        h5{
            padding: 0rem 0.5rem 0rem 0.5rem;
            font-family: metropolis-bold;
            font-size: 1.3rem;
        }
        h6{
            font-family: metropolis-bold;
            font-size: 1rem;
            color: $cinza-medio-01;
        }
        button{
            &:nth-child(4){
                width: 2rem;
                height: 2rem;
                background-color: $azul-medio-01;
                border-radius: 0.5rem;
                margin: 0rem 1rem 0rem 0rem;

                color: $branco;
                &:hover{
                    background-color: $azul-medio-01;
                    color: $branco;
                }
            }
            &:nth-child(5){
                width: 2rem;
                height: 2rem;
                background-color: $vermelho-medio-01;
                border-radius: 0.5rem;
                margin: 0rem 0.5rem 0rem 0rem;
                color: $branco;
                &:hover{
                    background-color: $vermelho-medio-01;
                    color: $branco;
                }
            }
        }
    }
}

//**********Originais**********
.originalEdit{
    width: 30rem;
    @include lg{
        width: 100%;
    }
    .originalEdit-form{
        div{
            label{
                font-family: metropolis-bold;
            }
            input, select{
                margin: -0.3rem 0rem 0rem 0rem;
                border-radius: 0.5rem;
                resize: none;
            }
            div{
                label{
                    padding: -3rem 0rem 0rem 0rem;
                    font-size: 1rem;
                    font-family: Arial, Helvetica, sans-serif;
                }
            }
        }
        button{
            padding-top: 0.49rem;
            background-color: $azul-medio-01;
            font-family: metropolis-bold;
            color: $branco;
            font-size: 1rem;
            &:hover{
                background-color: $azul-medio-01;
                font-family: metropolis-bold;
                color: $branco;  
            }
        }
    }
}

.originalList{
    div{
        width: 20.2rem;
        height: auto;
        background-color: $branco;
        border-radius: 1rem 1rem 0.5rem 0.5rem;
        iframe{
            width: 100%;
            height: 13rem;
            border-radius: 0.5rem 0.5rem 0rem 0rem;
        }
        h5{
            padding: 0rem 0.5rem 0rem 0.5rem;
            font-family: metropolis-bold;
            font-size: 1.3rem;
        }
        h6{
            font-family: metropolis-bold;
            font-size: 1rem;
            color: $cinza-medio-01;
        }
        button{
            &:nth-child(4){
                width: 2rem;
                height: 2rem;
                background-color: $azul-medio-01;
                border-radius: 0.5rem;
                margin: 0rem 1rem 0rem 0rem;

                color: $branco;
                &:hover{
                    background-color: $azul-medio-01;
                    color: $branco;
                }
            }
            &:nth-child(5){
                width: 2rem;
                height: 2rem;
                background-color: $vermelho-medio-01;
                border-radius: 0.5rem;
                margin: 0rem 0.5rem 0rem 0rem;
                color: $branco;
                &:hover{
                    background-color: $vermelho-medio-01;
                    color: $branco;
                }
            }
        }
    }
}


//**********DIVULGAÇÃO**********
.promoterEdit{
    width: 30rem;
    @include lg{
        width: 100%;
    }
    .promoterEdit-form{
        div{
            label{
                font-family: metropolis-bold;
            }
            input{
                margin: -0.3rem 0rem 0rem 0rem;
                border-radius: 0.5rem;
            }
        }
        button{
            padding-top: 0.49rem;
            background-color: $azul-medio-01;
            font-family: metropolis-bold;
            color: $branco;
            font-size: 1rem;
            &:hover{
                background-color: $azul-medio-01;
                font-family: metropolis-bold;
                color: $branco;  
            }
        }
    }
}

.promoterList{
    div{
        width: 20.2rem;
        height: auto;
        background-color: $branco;
        border-radius: 0.5rem;
        div{
            padding: 1rem 2rem 0rem 2rem;
            img{
                width: 100%;
                height: auto;
            }
        }
        h5{
            padding: 0rem 0.5rem 0rem 0.5rem;
            font-family: metropolis-bold;
            font-size: 1.3rem;
        }
        h6{
            font-family: metropolis-bold;
            font-size: 1rem;
            color: $cinza-medio-01;
        }
        button{
            &:nth-child(4){
                width: 2rem;
                height: 2rem;
                background-color: $azul-medio-01;
                border-radius: 0.5rem;
                margin: 0rem 1rem 0rem 0rem;

                color: $branco;
                &:hover{
                    background-color: $azul-medio-01;
                    color: $branco;
                }
            }
            &:nth-child(5){
                width: 2rem;
                height: 2rem;
                background-color: $vermelho-medio-01;
                border-radius: 0.5rem;
                margin: 0rem 0.5rem 0rem 0rem;
                color: $branco;
                &:hover{
                    background-color: $vermelho-medio-01;
                    color: $branco;
                }
            }
        }
    }
}

//**********APARÊNCIA**********
.appearanceEdit{
    width: 30rem;
    @include lg{
        width: 100%;
    }
    .appearanceEdit-form{
        div{
            label{
                font-family: metropolis-bold;
            }
            input{
                margin: -0.3rem 0rem 0rem 0rem;
                border-radius: 0.5rem;
            }
        }
        button{
            padding-top: 0.49rem;
            background-color: $azul-medio-01;
            font-family: metropolis-bold;
            color: $branco;
            font-size: 1rem;
            &:hover{
                background-color: $azul-medio-01;
                font-family: metropolis-bold;
                color: $branco;  
            }
        }
    }
}