@import "_colors.scss", "_breakpoint.scss";

//**********FONTES**********
@font-face {
    font-family: aquawax;
    src: url(../font/aquawax.ttf);
    font-display: swap;
}

@font-face {
    font-family: metropolis-bold;
    src: url(../font/Metropolis-Bold.otf);
    font-display: swap;
}

//**********BODY**********
.body{
    background-color: $cinza-claro-01;
}

//**********LOGIN**********
.login{
    background-color: $branco;
    border-radius: 1rem 2rem 2rem 1rem;
    .login-left{
        width: 50%;
        .login-logo{
            width: 8rem;
        }
        .login-form{
            div{
                label{
                    font-family: metropolis-bold;
                }
                input{
                    margin: -0.3rem 0rem 0rem 0rem;
                    border: 0.1rem solid $preto;
                    border-radius: 0.5rem;
                }
            }
            button{
                padding-top: 0.49rem;
                background-color: $azul-medio-01;
                font-family: metropolis-bold;
                color: $branco;
            }
        }
        @include lg{
            width: 100%;
        }
    }
    .login-help{
        background-color: $vermelho-medio-01;
        font-family: metropolis-bold;
        color: $branco;
        &:hover{
            background-color: $vermelho-medio-01 !important;
            font-family: metropolis-bold;
            color: $branco !important;
        }
    }
    .login-right{
        width: 50%;
        .login-banner{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 0rem 1rem 1rem 0rem;
        }
    }
}

//**********RODAPÉ**********
footer{
    bottom: 1rem;
    font-family: metropolis-bold;
    font-size: 0.8rem;
}

//**********NAVBAR**********
.sidenav{
    width: 16rem;
    height: 100vh;
    background-color: $branco;
    z-index: 3;
    @include lg{
        width: 20rem;
        right: 0;
        display: none;
    }
    @include xs{
        width: 100%;
    }
    .sidenav-close{
        width: 2rem;
        height: 2rem;
        margin: 0rem 0rem 0rem 0.8rem;
        font-size: 1.2rem;
    }
    .sidenav-logo{
        img{
            width: 8rem;
            height: auto;
        }
    }
    .sidenav-profile{
        img{
            width: 6rem;
            height: 6rem;
            border-radius: 22.5rem;
            object-fit: cover;
        }
        h5{
            font-family: metropolis-bold;
            font-size: 1.5rem;
        }
        h6{
            font-family: metropolis-bold;
            font-size: 1rem;
            color: $cinza-medio-01;
        }
    }
    .sidenav-list{
        li{
            cursor: pointer;
            padding: 0.8rem 0rem 0.8rem 1rem;
            color: $preto;
            font-family: metropolis-bold;
            font-size: 1rem;
            ul{
                width: 15rem;
                display: none;
                position: absolute;
                background-color: $cinza-claro-01;
                border-radius: 0.5rem;
                margin: -2rem 0rem 0rem 5rem;
                padding: 0.5rem;
                @include lg{
                    margin: -3rem 0rem 0rem 5rem;
                }
                li{
                    list-style: none;
                    padding: 0.3rem;
                }
            }
            &:hover{
                ul{
                    display: block;
                }
            }
        }
    }
}

//**********CONTEÚDO PADRÃO**********
.content{
    margin: 0rem 0rem 0rem 16rem;
    @include lg{
        margin: 0;
    }
    .content-bar{
        width: 100%;
        height: 3.5rem;
        background-color: $branco;
        position: fixed;
        z-index: 1;
        img{
            width: 2rem;
            margin: 0.35rem 0rem 0rem 1rem;
        }
        div{
            margin: 0.54rem 0rem 0rem 1rem;
            padding-top: 0.45rem;
            background-color: $vermelho-medio-01;
            border-radius: 0.5rem;
            color: $branco;
            font-family: metropolis-bold;
            font-size: 1rem;
        }
        button{
            margin: 0rem 0.5rem 0rem 0rem;
            font-size: 1.7rem;
        }
    }
}

//**********PAGE START**********
.page-start{
    font-family: metropolis-bold;
    font-size: 1.5rem;
}


//**********DASHBAORD**********
.wellcome{
    background-color: $branco;
    border-radius: 0.5rem;
    h4{
        font-family: metropolis-bold;
        font-size: 1.5rem;
    }
    h5{
        font-family: metropolis-bold;
        font-size: 1rem;
        color: $cinza-medio-01;
    }
    h6{
        font-family: metropolis-bold;
        font-size: 1rem;
    }
    button{
        background-color: $vermelho-medio-01;
        border-radius: 0.5rem;
        font-family: metropolis-bold;
        font-size: 1rem;
        color: $branco;
        &:hover{
            background-color: $vermelho-medio-01 !important;
            border-radius: 0.5rem;
            font-family: metropolis-bold;
            font-size: 1rem;
            color: $branco !important;
        }
    }
}

.player{
    width: 100%;
    height: auto;
    background-color: $branco;
    border-radius: 1rem;
    h6{
        padding: 1rem 0rem 0.8rem 1.5rem;
        border-radius: 0.5rem 0.5rem 0rem 0rem;
        background-color: $cinza-claro-02;
        font-family: metropolis-bold;
        font-size: 1rem;
    }
    .video-js{
        width: 100%;
        height: 17rem;
        border-radius: 0rem 0rem 0.5rem 0.5rem;
    }
}

.server{
    width: 100%;
    height: auto;
    background-color: $branco;
    border-radius: 1rem 1rem 0.5rem 0.5rem;
    h6{
        padding: 1rem 0rem 0.8rem 1.5rem;
        border-radius: 0.5rem 0.5rem 0rem 0rem;
        background-color: $cinza-claro-02;
        font-family: metropolis-bold;
        font-size: 1rem;
    }
    p{
        padding: 0.8rem 1rem 1rem 1rem;
        font-size: 1rem;
        span{
            font-family: metropolis-bold;
        }
    }
}

//**********EDITAR PERFIL**********
.profileEdit{
    width: 25rem;
    @include lg{
        width: 100%;
    }
    .profileEdit-form{
        div{
            label{
                font-family: metropolis-bold;
            }
            input{
                margin: -0.3rem 0rem 0rem 0rem;
                border-radius: 0.5rem;
            }
        }
        button{
            padding-top: 0.49rem;
            background-color: $azul-medio-01;
            font-family: metropolis-bold;
            color: $branco;
            font-size: 1rem;
            &:hover{
                background-color: $azul-medio-01;
                font-family: metropolis-bold;
                color: $branco;  
            }
        }
    }
}