@font-face {
  font-family: aquawax;
  src: url(../font/aquawax.ttf);
  font-display: swap;
}
@font-face {
  font-family: metropolis-bold;
  src: url(../font/Metropolis-Bold.otf);
  font-display: swap;
}
.body {
  background-color: #dfdfdf;
}

* {
  box-sizing: border-box;
}

.login {
  background-color: #ffffff;
  border-radius: 1rem 2rem 2rem 1rem;
}
.login .login-left {
  width: 50%;
}
.login .login-left .login-logo {
  width: 8rem;
}
.login .login-left .login-form div label {
  font-family: metropolis-bold;
}
.login .login-left .login-form div input {
  margin: -0.3rem 0rem 0rem 0rem;
  border: 0.1rem solid #000000;
  border-radius: 0.5rem;
}
.login .login-left .login-form button {
  padding-top: 0.49rem;
  background-color: #003399;
  font-family: metropolis-bold;
  color: #ffffff;
}
@media (max-width: 992px) {
  .login .login-left {
    width: 100%;
  }
}
.login .login-help {
  background-color: #dc0000;
  font-family: metropolis-bold;
  color: #ffffff;
}
.login .login-help:hover {
  background-color: #dc0000 !important;
  font-family: metropolis-bold;
  color: #ffffff !important;
}
.login .login-right {
  width: 50%;
}
.login .login-right .login-banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0rem 1rem 1rem 0rem;
}

footer {
  bottom: 1rem;
  font-family: metropolis-bold;
  font-size: 0.8rem;
}

.sidenav {
  width: 16rem;
  height: 100vh;
  background-color: #ffffff;
  z-index: 1;
}
@media (max-width: 992px) {
  .sidenav {
    width: 20rem;
    right: 0;
    display: none;
  }
}
@media (max-width: 420px) {
  .sidenav {
    width: 100%;
  }
}
.sidenav .sidenav-close {
  width: 2rem;
  height: 2rem;
  margin: 4rem 0rem 0rem 0.8rem;
  font-size: 1.2rem;
}
.sidenav .sidenav-logo img {
  width: 8rem;
  height: auto;
}
.sidenav .sidenav-profile img {
  width: 6rem;
  height: 6rem;
  border-radius: 22.5rem;
  object-fit: cover;
}
.sidenav .sidenav-profile h5 {
  font-family: metropolis-bold;
  font-size: 1.5rem;
}
.sidenav .sidenav-profile h6 {
  font-family: metropolis-bold;
  font-size: 1rem;
  color: #adadad;
}
.sidenav .sidenav-list li {
  position: relative;
  cursor: pointer;
  padding: 0.6rem 0rem 0.6rem 1rem;
  color: #000000;
  font-family: metropolis-bold;
  font-size: 1rem;
}
.sidenav .sidenav-list li ul {
  width: 15rem;
  display: none;
  position: absolute;
  background-color: #EAEAEA;
  border-radius: 0.5rem;
  margin: -2rem 0rem 0rem 5rem;
  padding: 0.5rem;
  z-index: 1;
}
@media (max-width: 992px) {
  .sidenav .sidenav-list li ul {
    margin: -3rem 0rem 0rem 6rem;
  }
}
.sidenav .sidenav-list li ul li {
  padding: 0.3rem;
  list-style: none;
  font-size: 0.9rem;
}
.sidenav .sidenav-list li:hover ul {
  display: block;
}

.top-bar {
  width: auto;
  height: 3.5rem;
  margin: 0rem 0rem 0rem 16rem;
  background-color: #ffffff;
  z-index: 1;
}
@media (max-width: 992px) {
  .top-bar {
    margin: 0;
  }
}
.top-bar img {
  width: 2rem;
  margin: 0.35rem 0rem 0rem 1rem;
}
.top-bar div {
  margin: 0.54rem 0rem 0rem 1rem;
  padding-top: 0.45rem;
  background-color: #dc0000;
  border-radius: 0.5rem;
  color: #ffffff;
  font-family: metropolis-bold;
  font-size: 1rem;
}
.top-bar button {
  margin: 0rem 0.5rem 0rem 0rem;
  font-size: 1.7rem;
}

.content {
  width: auto;
  height: auto;
  margin: 0rem 0rem 0rem 16rem;
  padding: 4.5rem 2rem 0rem 2rem;
}
@media (max-width: 992px) {
  .content {
    margin: 0;
  }
}

.page-start {
  font-family: metropolis-bold;
  font-size: 1.5rem;
}

.wellcome {
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.wellcome h4 {
  font-family: metropolis-bold;
  font-size: 1.5rem;
}
.wellcome h5 {
  font-family: metropolis-bold;
  font-size: 1rem;
  color: #adadad;
}
.wellcome h6 {
  font-family: metropolis-bold;
  font-size: 1rem;
}
.wellcome button {
  background-color: #dc0000;
  border-radius: 0.5rem;
  font-family: metropolis-bold;
  font-size: 1rem;
  color: #ffffff;
}
.wellcome button:hover {
  background-color: #dc0000 !important;
  border-radius: 0.5rem;
  font-family: metropolis-bold;
  font-size: 1rem;
  color: #ffffff !important;
}

.player {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  border-radius: 1rem;
}
.player h6 {
  padding: 1rem 0rem 0.8rem 1.5rem;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  background-color: #EAEAEA;
  font-family: metropolis-bold;
  font-size: 1rem;
}
.player .video-js {
  width: 100%;
  height: 17rem;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
}

.server {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  border-radius: 1rem 1rem 0.5rem 0.5rem;
}
.server h6 {
  padding: 1rem 0rem 0.8rem 1.5rem;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  background-color: #EAEAEA;
  font-family: metropolis-bold;
  font-size: 1rem;
}
.server p {
  padding: 0.8rem 1rem 1rem 1rem;
  font-size: 1rem;
}
.server p span {
  font-family: metropolis-bold;
}

.profileEdit {
  width: 30rem;
}
@media (max-width: 992px) {
  .profileEdit {
    width: 100%;
  }
}
.profileEdit .profileEdit-form div label {
  font-family: metropolis-bold;
}
.profileEdit .profileEdit-form div input {
  margin: -0.3rem 0rem 0rem 0rem;
  border-radius: 0.5rem;
}
.profileEdit .profileEdit-form button {
  padding-top: 0.49rem;
  background-color: #003399;
  font-family: metropolis-bold;
  color: #ffffff;
  font-size: 1rem;
}
.profileEdit .profileEdit-form button:hover {
  background-color: #003399;
  font-family: metropolis-bold;
  color: #ffffff;
}

.speedNewsEdit {
  width: 30rem;
}
@media (max-width: 992px) {
  .speedNewsEdit {
    width: 100%;
  }
}
.speedNewsEdit .speedNewsEdit-form div label {
  font-family: metropolis-bold;
}
.speedNewsEdit .speedNewsEdit-form div input, .speedNewsEdit .speedNewsEdit-form div textarea {
  margin: -0.3rem 0rem 0rem 0rem;
  border-radius: 0.5rem;
  resize: none;
}
.speedNewsEdit .speedNewsEdit-form button {
  padding-top: 0.49rem;
  background-color: #003399;
  font-family: metropolis-bold;
  color: #ffffff;
  font-size: 1rem;
}
.speedNewsEdit .speedNewsEdit-form button:hover {
  background-color: #003399;
  font-family: metropolis-bold;
  color: #ffffff;
}

.speedNews-list article {
  width: 30.9rem;
  height: 15rem;
}
.speedNews-list article img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  filter: brightness(50%);
}
.speedNews-list article p {
  width: 95%;
  top: 1rem;
  left: 1rem;
  color: #ffffff;
  font-family: metropolis-bold;
  font-size: 1rem;
  text-shadow: 0px 0px 3px #000000;
}
.speedNews-list article p span {
  padding: 0.3rem;
  background-color: #003399;
  border-radius: 0.3rem;
  color: #ffffff;
}
@media (max-width: 420px) {
  .speedNews-list article p {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7; /* Definimos quantas linhas queremos */
    display: -webkit-box;
    overflow: hidden;
    font-size: 0.9rem;
  }
}
.speedNews-list article div {
  bottom: 1rem;
  left: 1rem;
  color: #ffffff;
  font-size: 1rem;
  font-family: metropolis-bold;
  text-shadow: 0px 0px 3px #000000;
}
.speedNews-list article button:nth-child(4) {
  width: 2rem;
  height: 2rem;
  background-color: #003399;
  border-radius: 0.5rem;
  right: 1rem;
  bottom: 1rem;
  color: #ffffff;
}
.speedNews-list article button:nth-child(4):hover {
  background-color: #003399;
  color: #ffffff;
}
.speedNews-list article button:nth-child(5) {
  width: 2rem;
  height: 2rem;
  background-color: #dc0000;
  border-radius: 0.5rem;
  right: 3.5rem;
  bottom: 1rem;
  color: #ffffff;
}
.speedNews-list article button:nth-child(5):hover {
  background-color: #dc0000;
  color: #ffffff;
}

.scheduleEdit {
  width: 30rem;
}
@media (max-width: 992px) {
  .scheduleEdit {
    width: 100%;
  }
}
.scheduleEdit .scheduleEdit-form div label {
  font-family: metropolis-bold;
}
.scheduleEdit .scheduleEdit-form div input, .scheduleEdit .scheduleEdit-form div select {
  margin: -0.3rem 0rem 0rem 0rem;
  border-radius: 0.5rem;
  resize: none;
}
.scheduleEdit .scheduleEdit-form div div label {
  padding: -3rem 0rem 0rem 0rem;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}
.scheduleEdit .scheduleEdit-form button {
  padding-top: 0.49rem;
  background-color: #003399;
  font-family: metropolis-bold;
  color: #ffffff;
  font-size: 1rem;
}
.scheduleEdit .scheduleEdit-form button:hover {
  background-color: #003399;
  font-family: metropolis-bold;
  color: #ffffff;
}

.scheduleList div {
  width: 20.2rem;
  height: auto;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.scheduleList div div img {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
}
.scheduleList div h5 {
  padding: 0rem 0.5rem 0rem 0.5rem;
  font-family: metropolis-bold;
  font-size: 1.3rem;
}
.scheduleList div h6 {
  font-family: metropolis-bold;
  font-size: 1rem;
  color: #adadad;
}
.scheduleList div button:nth-child(4) {
  width: 2rem;
  height: 2rem;
  background-color: #003399;
  border-radius: 0.5rem;
  margin: 0rem 1rem 0rem 0rem;
  color: #ffffff;
}
.scheduleList div button:nth-child(4):hover {
  background-color: #003399;
  color: #ffffff;
}
.scheduleList div button:nth-child(5) {
  width: 2rem;
  height: 2rem;
  background-color: #dc0000;
  border-radius: 0.5rem;
  margin: 0rem 0.5rem 0rem 0rem;
  color: #ffffff;
}
.scheduleList div button:nth-child(5):hover {
  background-color: #dc0000;
  color: #ffffff;
}

.originalEdit {
  width: 30rem;
}
@media (max-width: 992px) {
  .originalEdit {
    width: 100%;
  }
}
.originalEdit .originalEdit-form div label {
  font-family: metropolis-bold;
}
.originalEdit .originalEdit-form div input, .originalEdit .originalEdit-form div select {
  margin: -0.3rem 0rem 0rem 0rem;
  border-radius: 0.5rem;
  resize: none;
}
.originalEdit .originalEdit-form div div label {
  padding: -3rem 0rem 0rem 0rem;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}
.originalEdit .originalEdit-form button {
  padding-top: 0.49rem;
  background-color: #003399;
  font-family: metropolis-bold;
  color: #ffffff;
  font-size: 1rem;
}
.originalEdit .originalEdit-form button:hover {
  background-color: #003399;
  font-family: metropolis-bold;
  color: #ffffff;
}

.originalList div {
  width: 20.2rem;
  height: auto;
  background-color: #ffffff;
  border-radius: 1rem 1rem 0.5rem 0.5rem;
}
.originalList div iframe {
  width: 100%;
  height: 13rem;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}
.originalList div h5 {
  padding: 0rem 0.5rem 0rem 0.5rem;
  font-family: metropolis-bold;
  font-size: 1.3rem;
}
.originalList div h6 {
  font-family: metropolis-bold;
  font-size: 1rem;
  color: #adadad;
}
.originalList div button:nth-child(4) {
  width: 2rem;
  height: 2rem;
  background-color: #003399;
  border-radius: 0.5rem;
  margin: 0rem 1rem 0rem 0rem;
  color: #ffffff;
}
.originalList div button:nth-child(4):hover {
  background-color: #003399;
  color: #ffffff;
}
.originalList div button:nth-child(5) {
  width: 2rem;
  height: 2rem;
  background-color: #dc0000;
  border-radius: 0.5rem;
  margin: 0rem 0.5rem 0rem 0rem;
  color: #ffffff;
}
.originalList div button:nth-child(5):hover {
  background-color: #dc0000;
  color: #ffffff;
}

/*# sourceMappingURL=main.css.map */
