@font-face {
  font-family: aquawax;
  src: url(../font/aquawax.ttf);
  font-display: swap;
}
@font-face {
  font-family: metropolis-bold;
  src: url(../font/Metropolis-Bold.otf);
  font-display: swap;
}
.body {
  background-color: #dfdfdf;
}

.login {
  background-color: #ffffff;
  border-radius: 1rem 2rem 2rem 1rem;
}
.login .login-left {
  width: 50%;
}
.login .login-left .login-logo {
  width: 8rem;
}
.login .login-left .login-form div label {
  font-family: metropolis-bold;
}
.login .login-left .login-form div input {
  margin: -0.3rem 0rem 0rem 0rem;
  border: 0.1rem solid #000000;
  border-radius: 0.5rem;
}
.login .login-left .login-form button {
  background-color: #003399;
  font-family: metropolis-bold;
  color: #ffffff;
}
@media (max-width: 992px) {
  .login .login-left {
    width: 100%;
  }
}
.login .login-help {
  background-color: #dc0000;
  font-family: metropolis-bold;
  color: #ffffff;
}
.login .login-help:hover {
  background-color: #dc0000 !important;
  font-family: metropolis-bold;
  color: #ffffff !important;
}
.login .login-right {
  width: 50%;
}
.login .login-right .login-banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0rem 1rem 1rem 0rem;
}

footer {
  bottom: 1rem;
  font-family: metropolis-bold;
  font-size: 0.8rem;
}

.sidenav {
  width: 20%;
  height: 100%;
  background-color: #ffffff;
}
.sidenav .sidenav-logo img {
  width: 8rem;
  height: auto;
}
.sidenav .sidenav-profile img {
  width: 6rem;
  height: 6rem;
  border-radius: 22.5rem;
}
.sidenav .sidenav-profile h5 {
  font-family: metropolis-bold;
  font-size: 1.5rem;
}
.sidenav .sidenav-profile h6 {
  font-family: metropolis-bold;
  font-size: 1.1rem;
  color: #adadad;
}
.sidenav .sidenav-list a {
  text-decoration: none;
}
.sidenav .sidenav-list a li {
  padding: 0.7rem 0rem 0.7rem 1rem;
  list-style: none;
  font-family: metropolis-bold;
  font-size: 1rem;
  color: #000000;
}
.sidenav .sidenav-list a li:hover {
  background-color: #EAEAEA;
}

.content {
  width: 80%;
  height: 3rem;
  margin: 0rem 0rem 0rem 20%;
  position: fixed;
}
.content .content-bar {
  width: 100%;
  height: 3.5rem;
  background-color: #ffffff;
}
.content .content-bar button:nth-child(1) {
  margin: 0.54rem 0rem 0rem 1rem;
  padding-top: 0.45rem;
  background-color: #dc0000;
  border-radius: 0.5rem;
  color: #ffffff;
  font-family: metropolis-bold;
  font-size: 1rem;
}

.wellcome {
  background-color: #ffffff;
  border-radius: 0.8rem;
}
.wellcome h4 {
  font-family: metropolis-bold;
  font-size: 1.5rem;
}
.wellcome h5 {
  font-family: metropolis-bold;
  font-size: 1rem;
  color: #adadad;
}
.wellcome h6 {
  font-family: metropolis-bold;
  font-size: 1rem;
}
.wellcome button {
  background-color: #dc0000;
  border-radius: 0.5rem;
  font-family: metropolis-bold;
  font-size: 1rem;
  color: #ffffff;
}
.wellcome button:hover {
  background-color: #dc0000;
  border-radius: 0.5rem;
  font-family: metropolis-bold;
  font-size: 1rem;
  color: #ffffff;
}

/*# sourceMappingURL=main.css.map */
